{%load static%}

<header id="home" class="header">
    <div class="overlay"></div>

    <div id="header-carousel" class="carousel slide carousel-fade" data-ride="carousel">  
        <div class="container">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="carousel-caption d-none d-md-block">
                        <h1 class="carousel-title">Mezun Bilgi<br> Sistemi</h1>
                    </div>
                </div>
            </div>
        </div>        
    </div>

    <div class="infos container mb-4 mb-md-2 comment-wrapper">
        <div class="title">
            <h6 class="subtitle font-weight-normal">Conversation</h6>
            <hr>
            {% for message in messages%}
                        @{{message.user}}  {{message.created}}
                    

            {% endfor %}
            <p></p>
        </div>
    </div>
</header>