{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mezun Bilgi Sistemi</title>
  <link rel="stylesheet" type="text/css" href="{% static 'styles/main.css' %}">
  
</head>
<body>
  <header>
    <h1 class="baslik">Mezun Bilgi Sistemi</h1>
  </header>

  <img src="{% static 'images/img2.jpg' %}" alt="Mezun Foto" class="logo">

  <div class="container">
    <div class="form-container">
    <form action="/login" method="GET">

        <input type="submit" value="Sisteme Giriş " class="giris">

      </form>
    </div>

    <div class="statistics-container">
      <p>Lisans Mezun Sayısı: <span id="lisans-mezun-sayisi">0</span></p>
      <p>Ön Lisans Mezun Sayısı: <span id="on-lisans-mezun-sayisi">0</span></p>
    </div>
  </div>

  <script>
    // Burada veritabanından mezun öğrenci sayılarını alarak HTML sayfasına yerleştirme işlemleri gerçekleştirilebilir.
    // Bu örnekte sadece HTML ve CSS olduğu için veritabanı entegrasyonu yerine sabit değerler kullanacağım.
    
    // Mezun öğrenci sayıları
    var lisansMezunSayisi = 100;
    var onLisansMezunSayisi = 50;

    // HTML sayfasına mezun öğrenci sayılarını yerleştirme
    document.getElementById("lisans-mezun-sayisi").textContent = lisansMezunSayisi;
    document.getElementById("on-lisans-mezun-sayisi").textContent = onLisansMezunSayisi;
  </script>
</body>
</html>
