{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Mezun Bilgi Sistemi{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="{% static 'styles/main.css' %}">
  <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">

  
</head>
<body>
  <header>
    <div class="header-overlay">
      <h1 class="baslik">Mezun Bilgi Sistemi</h1>
  </div>
  </header>

  <img src="{% static 'images/img2.jpg' %}" alt="Mezun Foto" class="logo">
  

  <div class="container">
    <div class="form-container">   
        <div class="statistics-container">
          <p>Lisans Mezun Sayısı: <span id="lisans-mezun-sayisi">{{ lisans_mezun_sayisi }}</span></p>
          <p>Ön Lisans Mezun Sayısı: <span id="on-lisans-mezun-sayisi">{{ on_lisans_mezun_sayisi }}</span></p>
          <p>Yüksek Lisans Mezun Sayısı: <span id="yuksek-lisans-mezun-sayisi">{{ yuksek_lisans_mezun_sayisi }}</span></p>
        </div>
        <form action="{% url 'login' %}" method="GET">
          <input type="submit" value="Sisteme Giriş" class="giris">
        </form>
    </div>
</div>

</body>
</html>
