{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %} Profil Sayfası{% endblock %}  </title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/profile.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/mezun.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">



</head>
<body>
    
  {% include 'navbar.html' %}
  
  <br><br><br>

  <div class="container mt-3">
    
    <form action="{% url 'view_profile' 'username' %}" method="GET">
        <div class="input-group mb-3">
            <input type="text" class="form-control" name="username" placeholder="Kullanıcı adıyla arama yap..." aria-label="Arama yap" aria-describedby="search-btn">
            <button class="btn btn-outline-primary" type="submit" id="search-btn">Ara</button>
        </div>
    </form>
</div>
  
<div class="container">
    <div class="main-body">
        <div class="row">
            <!-- Sol Taraftaki Kullanıcı Bilgileri -->
            <div class="col-lg-8">
                <div class="card">
                    <div class="card-body text-center">
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="profile-photo">
                                {% if user_profile.profil %}
                                    <img src="{{ user_profile.profil.url }}" alt="Profil" class="profile-image" width="125px">
                                {% else %}
                                    <img src="{% static 'images/avatar1.jpg' %}" alt="Varsayılan Profil" class="profile-image" width="125px">
                                {% endif %}
                                {{ profile_form.profil }}
                                <input type="file" name="profil" accept="image/*" onchange="toggleButtonText(this)">
                                <button type="submit" id="profil-submit-button" style="display: none;" onchange="toggleButtonText(this)">Profil Fotoğrafını Kaydet</button>
                            </div>
                        </form>

                        <h4 class="mt-3">{{ user_profile.ad }} {{ user_profile.soyad }}</h4>
                        <p class="text-secondary" style="font-size: 16px;">{{ user_profile.username }}</p>
                        <hr>
                        <p class="text-secondary mb-1" style="font-size: 18px;">Takipçi Sayısı: {{user_followers}}</p>
                        <p class="text-secondary mb-1" style="font-size: 18px;">Takip Ettiklerim: {{user_following}}</p>
                        <hr>
                        {% if messages %}
                        <div class="container mt-4">
                            {% for message in messages %}
                                <div class="alert alert-success" role="alert">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        </div>
                        {% endif %}
                        {{ user_form.errors }}
                        <!-- İçerik Başlangıcı -->
                        <div class="tab-content">
                            <!-- İletişim Bilgileri İçeriği -->
                            <div id="iletisim" class="tab-pane active">
                                <form method="POST" class="mt-4">
                                {% csrf_token %}
                                <div class="container">
                                    <div class="border rounded p-4">
                                        <h3 class="border-bottom mb-4 pb-2">İletişim Bilgileri</h3>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="{{ user_form.ad.id_for_label }}" class="font-weight-bold">Ad:</label>
                                                    <input type="text" class="form-control" id="{{ user_form.ad.auto_id }}" name="{{ user_form.ad.html_name }}" value="{{ user_form.ad.value }}">
                                                </div>
                                                <div class="form-group">
                                                    <label for="{{ user_form.soyad.id_for_label }}" class="font-weight-bold">Soyad:</label>
                                                    <input type="text" class="form-control" id="{{ user_form.soyad.auto_id }}" name="{{ user_form.soyad.html_name }}" value="{{ user_form.soyad.value }}">
                                                </div>
                                                <div class="form-group">
                                                    <label for="{{ user_form.telefon.id_for_label }}" class="font-weight-bold">Telefon:</label>
                                                    <input type="text" class="form-control" id="{{ user_form.telefon.auto_id }}" name="{{ user_form.telefon.html_name }}" value="{{ user_form.telefon.value }}">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="{{ user_form.email.id_for_label }}" class="font-weight-bold">E-Posta:</label>
                                                    <input type="email" class="form-control" id="{{ user_form.email.auto_id }}" name="{{ user_form.email.html_name }}" value="{{ user_form.email.value }}">
                                                </div>
                                                <div class="form-group">
                                                    <label for="{{ user_form.adres.id_for_label }}" class="font-weight-bold">Lokasyon:</label>
                                                    <input type="text" class="form-control" id="{{ user_form.adres.auto_id }}" name="{{ user_form.adres.html_name }}" value="{{ user_form.adres.value }}">
                                                </div>
                                                <div class="form-group">
                                                    <label for="{{ user_form.username.id_for_label }}" class="font-weight-bold">Username:</label>
                                                    <input type="text" class="form-control" id="{{ user_form.username.auto_id }}" name="{{ user_form.username.html_name }}" value="{{user_form.username.value}}">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group mt-4">
                                    <button type="submit" class="btn btn-primary btn-block">Kaydet</button>
                                </div>
                            </form>

                            </div>
            
                            <!-- Üniversite Bilgileri İçeriği -->
                            <div id="universite" class="tab-pane">
                                <form>
                                    <div class="input-group">
                                        <label>Üniversite Adı:</label>
                                        <div class="custom-select">
                                            <select id="universite-select">
                                                <option value="">Seçiniz</option>
                                                <!-- Sunucu tarafından alınan veriler burada dinamik olarak oluşturulmalı -->
                                                <option value="universite1">Üniversite 1</option>
                                                <option value="universite2">Üniversite 2</option>
                                                <option value="universite3">Üniversite 3</option>
                                                <!-- ve diğer üniversiteler... -->
                                            </select>
                                        </div>
                                    </div>
                                    <div class="input-group">
                                        <label>Bölüm:</label>
                                        <div class="custom-select">
                                            <select id="bolum-select">
                                                <option value="">Seçiniz</option>
                                                <!-- Bölümler de aynı şekilde sunucu tarafından alınmalı ve burada dinamik olarak oluşturulmalı -->
                                                <option value="bolum1">Bölüm 1</option>
                                                <option value="bolum2">Bölüm 2</option>
                                                <option value="bolum3">Bölüm 3</option>
                                                <!-- ve diğer bölümler... -->
                                            </select>
                                        </div>
                                    </div>
                                    <div class="input-group">
                                        <label>Mezun Derecesi:</label>
                                        <div class="custom-select">
                                            <select id="mezun-derece-select">
                                                <option value="">Seçiniz</option>
                                                <!-- Mezun dereceleri burada dinamik olarak oluşturulmalı -->
                                                <option value="lisans">Lisans</option>
                                                <option value="yüksek-lisans">Yüksek Lisans</option>
                                                <option value="doktora">Doktora</option>
                                                <!-- ve diğer mezun dereceleri... -->
                                            </select>
                                        </div>
                                    </div>
                                    <div class="input-group">
                                        <label>Mezun Yılı:</label>
                                        <div class="custom-select">
                                            <select id="mezun-yil-select">
                                                <option value="">Seçiniz</option>
                                                <!-- Mezun yılları burada dinamik olarak oluşturulmalı -->
                                                <option value="2020">2020</option>
                                                <option value="2021">2021</option>
                                                <option value="2022">2022</option>
                                                <!-- ve diğer mezun yılları... -->
                                            </select>
                                        </div>
                                    </div>
                                    <button type="button" onclick="kaydetVeriler()">Kaydet</button>
                                </form>
                            </div>
                            
                            <!-- Bağlantılar İçeriği -->
                            <div id="baglanti" class="tab-pane">
                                <form method="POST" enctype="multipart/form-data" class="mt-4">
                                {% csrf_token %}
                                <div class="container">
                                    <div class="border rounded p-4">
                                        <h3 class="border-bottom mb-4 pb-2">Bağlantı Bilgileri</h3>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="{{ user_form.github.id_for_label }}" class="font-weight-bold">Github:</label>
                                                    <input type="text" class="form-control" id="{{ user_form.github.auto_id }}" name="{{ user_form.github.html_name }}" value="{{ user_form.github.value }}">
                                                </div>
                                                <div class="form-group">
                                                    <label for="{{ user_form.linkedin.id_for_label }}" class="font-weight-bold">Linkedin:</label>
                                                    <input type="text" class="form-control" id="{{ user_form.linkedin.auto_id }}" name="{{ user_form.linkedin.html_name }}" value="{{ user_form.linkedin.value }}">
                                                </div>
                                                <div class="form-group">
                                                    <label for="{{ user_form.instagram.id_for_label }}" class="font-weight-bold">Instagram:</label>
                                                    <input type="text" class="form-control" id="{{ user_form.instagram.auto_id }}" name="{{ user_form.instagram.html_name }}" value="{{ user_form.instagram.value }}">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="{{ user_form.twitter.id_for_label }}" class="font-weight-bold">Twitter:</label>
                                                    <input type="text" class="form-control" id="{{ user_form.twitter.auto_id }}" name="{{ user_form.twitter.html_name }}" value="{{ user_form.twitter.value }}">
                                                </div>
                                                <div class="form-group">
                                                    <label for="{{ user_form.website.id_for_label }}" class="font-weight-bold">Website:</label>
                                                    <input type="text" class="form-control" id="{{ user_form.website.auto_id }}" name="{{ user_form.website.html_name }}" value="{{ user_form.website.value }}">
                                                </div>
                                                <div class="form-group">
                                                    <label for="{{ user_form.facebook.id_for_label }}" class="font-weight-bold">Facebook:</label>
                                                    <input type="text" class="form-control" id="{{ user_form.facebook.auto_id }}" name="{{ user_form.facebook.html_name }}" value="{{user_form.facebook.value}}">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group mt-4">
                                    <button type="submit" class="btn btn-primary btn-block">Kaydet</button>
                                </div>
                                
                            </form>

                            </div>
                        </div>
                        <!-- İçerik Bitişi -->
                    </div>
                </div>
            </div>
            <!-- Sağ Taraftaki Menüler -->
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <!-- Menü Başlangıcı -->
                        <ul class="nav nav-pills flex-column">
                            <li class="nav-item">
                                <a class="nav-link active" onclick="showTab('iletisim')" href="#"><i class="fas fa-envelope"></i> İletişim Bilgileri</a>
                            </li>
                            <!--<li class="nav-item">
                                <a class="nav-link" onclick="showTab('kariyer')" href="#">Kariyer Bilgileri</a>
                            </li>-->
                            <li class="nav-item">
                                <a class="nav-link" onclick="showTab('universite')" href="#"><i class="fas fa-graduation-cap"></i> Üniversite Bilgileri</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" onclick="showTab('baglanti')" href="#"><i class="fas fa-link"></i> Bağlantılar</a>
                            </li>
                        </ul>
                        <!-- Menü Bitişi -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br><br><br><br>







  
{% include 'footer.html' %}

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'js/profil.js '%}">   
    <script src="{% static 'js/jquery-3.4.1.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.js' %}"></script>
    <script src="{% static 'js/bootstrap.affix.js' %}"></script>
    


</body>
</html>