{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SAYFA</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/profile.css' %}">

</head>
<body>
    
    Hoşgeldiniz {{ user.id }}

    <div class="user-menu">
        <span class="username">Kullanıcı Adı</span>
        <div class="dropdown">
          <a href="#" class="dropdown-toggle">▼</a>
          <div class="dropdown-content">
            <a href="#">Profil</a>
            <a href="#">Ayarlar</a>
            <a href="#">Çıkış Yap</a>
          </div>
        </div>
      </div>
      
      


</body>
</html>