body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
  }
  
  nav {
    background-color: #c0adee;
    color: #fff;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo a {
    color: #fff;
    font-size: 24px;
    text-decoration: none;
  }
  
  .nav-links {
    list-style-type: none;
    display: flex;
  }
  
  .nav-links li {
    margin-left: 20px;
  }
  
  .nav-links a {
    color: #fff;
    text-decoration: none;
  }
  
  header {
    background-color: #2980b9;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  h1 {
    margin: 0;
    font-size: 32px;
  }
  
  main {
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .event-card {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
    width: 275px;
  }
  
  .event-image img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .event-details h2 {
    margin: 0;
    color: #333;
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .event-details p {
    color: #666;
    margin: 0;
  }
  
  .event-details a {
    background-color: #2980b9;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 3px;
    display: inline-block;
    margin-top: 10px;
    transition: background-color 0.3s ease;
  }
  
  .event-details a:hover {
    background-color: #1e6091;
  }
  
  footer {
    background-color: #2980b9;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  