body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #a6b1ec;
  }
  
  nav {
    background-color: #c0adee;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo a {
    font-size: 24px;
    text-decoration: none;
    background-color: transparent;
  }
  
  .logo-img {
    /* Set the desired width and height for the logo */
    width: 100px;
    height: 100px;
  }
  
  .nav-links {
    list-style-type: none;
    display: flex;
  }
  
  .nav-links li {
    margin-left: 20px;
  }
  
  .nav-links a {
    color: #fff;
    text-decoration: none;
  }
  
  main {
    margin: 20px;
  }
  
  h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  .job-card {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    margin: 10px;
  }
  
  .job-card:hover {
    transform: translateY(-5px);
  }
  
  h3 {
    margin: 0;
    color: #333;
    font-size: 20px;
    margin-bottom: 10px;
  }


  
  p {
    color: #666;
  }

  a {
    background-color: #c0adee;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 3px;
    display: inline-block;
    margin-top: 10px;
    transition: background-color 0.3s ease;
    
  }
  
  footer {
    color: #fff;
    padding: 20px;
    text-align: center;
  }

  .baslik{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: bisque;
  }
