/* login.css */

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f3f3f3;
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
}

.card {
    border: none;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s; /* Add a transition effect for smooth animation */
}

.card:hover {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2); /* Update the box shadow when hovering */
}

.card-title {
    font-size: 30px;
    font-weight: bold;
}

.form-group label {
    font-size: 14px;
    font-weight: bold;
}

.form-control {
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn-primary {
    background-color: #007bff;
    border: none;
    border-radius: 5px;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.text-center a {
    font-size: 14px;
    color: #007bff;
    text-decoration: none;
}

.text-center a:hover {
    color: #0056b3;
}
